@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$primary: #067b95;
$secondary: #6c757d;
$success: #28a745;
$font-family-sans-serif: "Inter";
$table-bg: transparent;

@import "bootstrap/scss/bootstrap.scss";

.blockquote {
  color: $gray-700;
  font-weight: 500;
  font-size: 20px;
}

.content {
  min-height: calc(100vh - 1px); //fixes scrollbar
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1110px;
}

.card {
  background-color: $gray-100;
  border-color: $gray-400;
  border-radius: 8px;
  padding: 32px;
  filter: drop-shadow(0px -5px #67c0c2);
}

.header {
  margin-top: 48px;
  margin-bottom: 48px;
}

h1 {
  color: $gray-900;
  font-weight: 700;
  line-height: 100%;
  font-size: 40px;
  letter-spacing: -0.02em;
  margin: 8px 0px;
}

.base-text {
  color: $gray-700;
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
}

.mb-6px {
  margin-bottom: 6px;
}

.add-task {
  padding: 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.task-input {
  max-width: 403px;
  width: 100%;
}

.task-add-btn {
  max-width: 159px;
  width: 100%;
}

.remove-task-btn {
  background-color: $red-100;
  color: $red-700;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  padding: 6px 16px;
}

.task-complete-tag {
  font-weight: 600;
  font-size: 10px;
  margin-left: 10px;
}

.page-btn {
  max-width: 159px;
  width: 100%;
}

.toast-font {
  color: $white;
  font-weight: 600;
  font-size: 16px;
}

.current-page {
  width: 40px;
  height: 40px;
  background-color: $primary;
  color: #ffffff;
  border-radius: 4px;
}

footer {
  border-top: 1px solid $gray-400;
  align-self: end;
  margin-top: auto;
  width: 100%;
  height: 128px;
}

.table-head {
  font-weight: 800;
  font-size: 16px;
  color: $gray-900;
  height: 50px;
  vertical-align: middle;
}

.table-row {
  font-weight: 400;
  font-size: 16px;
  height: 50px;
  vertical-align: middle;
}

.border-gray-200 {
  border: 1px solid;
  border-color: $gray-200;
}

.gray-700 {
  color: $gray-700;
}
